<h1><%= I18n.t('txt.login', :default => 'Login') %> or <%= link_to I18n.t('txt.signup', :default => 'Sign Up'), signup_url %></h1>

<% form_for @session, :url => session_path do |f| %>
<%= f.error_messages %>
<div id="openid_fields" style="display:none">
<p>
  <label for="openid_url"><%= I18n.t "txt.views_users.login_with_openid", :default => "Login with OpenID" %></label>
  <br />
  <%= text_field_tag 'openid_url', params[:openid_url], :class => "openid_url" %>
</p>
<p>or login with <a href="#" onclick="LoginForm.setToPassword()">username/password</a></p>
</div>

<div id="password_fields">
<p><%= f.label I18n.t('txt.login_name', :default => 'Login') %><br />
<%= f.text_field :login %></p>

<p><%= f.label I18n.t('txt.password', :default => 'Password') %><br/>
<%= f.password_field :password %></p>

<p><%= f.label 'remember_me', I18n.t('txt.remember_me', :default => 'Remember me') %>
<%= f.check_box :remember_me %></p>

<p><%= f.submit I18n.t('txt.log_in', :default => 'Log in') %>
   <%= link_to_function(I18n.t('txt.views_users.reset_password', :default => "reset password"), "$('reset-password').toggle();", :style => "font-size: smaller;") %>
</p>
</div>

<% end -%>

<% form_tag password_resets_path, :id => 'reset-password', :style => 'display:none' do |f| %>

  <hr />
  <h5><%= I18n.t 'txt.views_users.reset_password', :default => "Reset Password" %></h5>

  <p><%= I18n.t 'txt.views_users.email_directions' %></p>
  <p><%= text_field_tag :email, "", :size => 30 %></p>
  <p><%= submit_tag I18n.t("txt.views_users.send_email", :default => "E-mail me the link") %>
    or <%= link_to_function(I18n.t("txt.cancel", :default => "cancel"), "$('reset-password').hide()") %></p>

<% end -%>
